extends main/dashboard


block content
div(class="main")
    div(class="left")
        div(class="desLeft")
            div
            div
            div
        div(class="desImg")
        div(class="desRight")
    div(class="right")
        div(class="ranksWrap")
            div(class="ranks")
                h3(class="rankTitle") Leaderboard
                div(class="rankList")
                    div(class="rankItem")
                        div(class="rankNumber")
                        div(class="rankDes")
